@charset "UTF-8";
/* line 4, ../sass/inherited.sass */
.pub-pane p.p4 {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  font: 32px Arial !important;
  color: #e44dd7 !important;
}
/* line 10, ../sass/inherited.sass */
.pub-pane p.p5 {
  margin: 0 !important;
  text-align: center !important;
  font: 32px Arial !important;
}
/* line 14, ../sass/inherited.sass */
.pub-pane p.p7 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  text-transform: uppercase;
}
/* line 21, ../sass/inherited.sass */
.pub-pane p.p16 {
  margin: 0 !important;
  font-family: Arial;
}
/* line 24, ../sass/inherited.sass */
.pub-pane p.p19 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial;
}
/* line 28, ../sass/inherited.sass */
.pub-pane p.p20 {
  margin: 0px 0px 0px 106.2px !important;
  font-family: Arial !important;
}
/* line 31, ../sass/inherited.sass */
.pub-pane p.p21 {
  margin: 0px 0px 0px 35.4px !important;
  font-family: Arial !important;
}
/* line 34, ../sass/inherited.sass */
.pub-pane p.p22 {
  margin: 0px 0px 0px 106.2px !important;
  font-family: Arial !important;
  min-height: 10px;
}
/* line 38, ../sass/inherited.sass */
.pub-pane p.p23 {
  margin: 0 !important;
  font-family: Arial !important;
}
/* line 41, ../sass/inherited.sass */
.pub-pane p.p24 {
  margin: 0 !important;
  font-family: Arial !important;
  min-height: 11px;
}
/* line 45, ../sass/inherited.sass */
.pub-pane p.p25 {
  margin: 0 !important;
  padding: 5px !important;
  text-align: center !important;
  font-family: Arial !important;
}
/* line 50, ../sass/inherited.sass */
.pub-pane p.p26 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  min-height: 7px;
}
/* line 55, ../sass/inherited.sass */
.pub-pane p.p27 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
}
/* line 59, ../sass/inherited.sass */
.pub-pane p.p28 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
  min-height: 11px;
}
/* line 65, ../sass/inherited.sass */
.pub-pane p.p29 {
  margin: 0 !important;
  text-align: center !important;
  font: 0px Arial !important;
  color: #f93ef6 !important;
}
/* line 70, ../sass/inherited.sass */
.pub-pane p.p30 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
  min-height: 23px;
}
/* line 76, ../sass/inherited.sass */
.pub-pane p.p31 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  min-height: 11px;
}
/* line 81, ../sass/inherited.sass */
.pub-pane p.p32 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #7b1979 !important;
}
/* line 86, ../sass/inherited.sass */
.pub-pane p.p33 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #7b1979 !important;
  min-height: 11px;
}
/* line 92, ../sass/inherited.sass */
.pub-pane p.p35 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
  min-height: 11px;
}
/* line 97, ../sass/inherited.sass */
.pub-pane p.p38 {
  margin: 0 !important;
  font-family: Arial !important;
  min-height: 10px;
}
/* line 101, ../sass/inherited.sass */
.pub-pane p.p39 {
  margin: 0 !important;
  font-family: Arial !important;
}
/* line 104, ../sass/inherited.sass */
.pub-pane p.p40 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
  min-height: 11px;
}
/* line 110, ../sass/inherited.sass */
.pub-pane p.p41 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #e44dd7 !important;
}
/* line 115, ../sass/inherited.sass */
.pub-pane p.p42 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  min-height: 10px;
}
/* line 120, ../sass/inherited.sass */
.pub-pane p.p43 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #7b1979 !important;
}
/* line 124, ../sass/inherited.sass */
.pub-pane p.p44 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
}
/* line 128, ../sass/inherited.sass */
.pub-pane p.p48 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
}
/* line 132, ../sass/inherited.sass */
.pub-pane p.p49 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #000000 !important;
}
/* line 137, ../sass/inherited.sass */
.pub-pane p.p51 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
}
/* line 141, ../sass/inherited.sass */
.pub-pane p.p52 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  min-height: 13px;
}
/* line 146, ../sass/inherited.sass */
.pub-pane p.p54 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  min-height: 13px;
}
/* line 151, ../sass/inherited.sass */
.pub-pane p.p55 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #e443db !important;
}
/* line 156, ../sass/inherited.sass */
.pub-pane p.p56 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #e443db !important;
  min-height: 10px;
}
/* line 162, ../sass/inherited.sass */
.pub-pane p.p57 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
}
/* line 166, ../sass/inherited.sass */
.pub-pane p.p58 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
  min-height: 23px;
}
/* line 171, ../sass/inherited.sass */
.pub-pane p.p59 {
  margin: 0px 0px 0px 70.8px !important;
  font-family: Arial !important;
  color: #ef3fdc !important;
}
/* line 175, ../sass/inherited.sass */
.pub-pane p.p60 {
  margin: 0px 0px 0px 70.8px !important;
  font-family: Arial !important;
}
/* line 178, ../sass/inherited.sass */
.pub-pane p.p61 {
  margin: 0px 0px 0px 106.2px !important;
  font-family: Arial !important;
  min-height: 13px;
}
/* line 182, ../sass/inherited.sass */
.pub-pane p.p63 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #ef3fdc !important;
  min-height: 11px;
}
/* line 188, ../sass/inherited.sass */
.pub-pane p.p64 {
  margin: 0px 0px 0px 70.8px !important;
  font-family: Arial !important;
  color: #ef3fdc !important;
  min-height: 13px;
}
/* line 193, ../sass/inherited.sass */
.pub-pane p.p65 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #ef3fdc !important;
  min-height: 13px;
}
/* line 198, ../sass/inherited.sass */
.pub-pane p.p67 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
  min-height: 13px;
}
/* line 204, ../sass/inherited.sass */
.pub-pane p.p68 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #f670e5 !important;
}
/* line 209, ../sass/inherited.sass */
.pub-pane p.p69 {
  margin: 0 !important;
  font-family: Arial !important;
  min-height: 13px;
}
/* line 213, ../sass/inherited.sass */
.pub-pane p.p70 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #ed44ed !important;
  min-height: 16px;
}
/* line 219, ../sass/inherited.sass */
.pub-pane p.p71 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
}
/* line 223, ../sass/inherited.sass */
.pub-pane p.p72 {
  margin: 0px 0px 0px 18px !important;
  text-align: justify !important;
  font-family: Arial !important;
  min-height: 13px;
}
/* line 228, ../sass/inherited.sass */
.pub-pane p.p74 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #ffffff !important;
}
/* line 232, ../sass/inherited.sass */
.pub-pane p.p75 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
}
/* line 236, ../sass/inherited.sass */
.pub-pane p.p76 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #937ab2 !important;
  min-height: 10px;
}
/* line 242, ../sass/inherited.sass */
.pub-pane p.p77 {
  margin: 0px 0.1px 0px 0px !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #937ab2 !important;
  min-height: 10px;
}
/* line 248, ../sass/inherited.sass */
.pub-pane p.p78 {
  margin: 0 !important;
  text-align: center !important;
  font: 12px "Arial Narrow";
  color: #8448b0 !important;
  min-height: 14px;
}
/* line 254, ../sass/inherited.sass */
.pub-pane p.p79 {
  margin: 0 !important;
  text-align: center !important;
  font: 11px "Arial Narrow";
  color: #8448b0 !important;
  min-height: 12px;
}
/* line 260, ../sass/inherited.sass */
.pub-pane p.p80 {
  margin: 0 !important;
  text-align: center !important;
  font: 12px "Arial Narrow";
  color: #937ab2 !important;
  min-height: 14px;
}
/* line 266, ../sass/inherited.sass */
.pub-pane p.p81 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #937ab2 !important;
  min-height: 10px;
}
/* line 271, ../sass/inherited.sass */
.pub-pane p.p82 {
  margin: 0 !important;
  text-align: center !important;
  font: 11px "Arial Narrow";
  min-height: 12px;
}
/* line 276, ../sass/inherited.sass */
.pub-pane p.p83 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  min-height: 10px;
}
/* line 281, ../sass/inherited.sass */
.pub-pane p.p84 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #8448b0 !important;
  min-height: 14px;
}
/* line 287, ../sass/inherited.sass */
.pub-pane p.p85 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  min-height: 14px;
}
/* line 292, ../sass/inherited.sass */
.pub-pane p.p86 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #937ab2 !important;
  min-height: 14px;
}
/* line 298, ../sass/inherited.sass */
.pub-pane p.p87 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #ffffff !important;
  min-height: 12px;
}
/* line 304, ../sass/inherited.sass */
.pub-pane p.p88 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #8448b0 !important;
  min-height: 12px;
}
/* line 310, ../sass/inherited.sass */
.pub-pane p.p89 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #8448b0 !important;
  min-height: 12px;
}
/* line 315, ../sass/inherited.sass */
.pub-pane p.p90 {
  margin: 0 !important;
  font-family: Arial !important;
  min-height: 14px;
}
/* line 319, ../sass/inherited.sass */
.pub-pane p.p91 {
  margin: 0 !important;
  text-align: center !important;
  font: 12px "Arial Narrow";
  min-height: 14px;
}
/* line 324, ../sass/inherited.sass */
.pub-pane p.p92 {
  margin: 0 !important;
  font: 12px "Arial Narrow";
  color: #937ab2 !important;
  min-height: 14px;
}
/* line 329, ../sass/inherited.sass */
.pub-pane p.p93 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  min-height: 14px;
}
/* line 334, ../sass/inherited.sass */
.pub-pane p.p95 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
}
/* line 338, ../sass/inherited.sass */
.pub-pane p.p96 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #ff4eea !important;
}
/* line 343, ../sass/inherited.sass */
.pub-pane p.p97 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #ff4eea !important;
  min-height: 9px;
}
/* line 349, ../sass/inherited.sass */
.pub-pane p.p98 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #ff4eea !important;
  min-height: 9px;
}
/* line 354, ../sass/inherited.sass */
.pub-pane p.p99 {
  margin: 0px 0px 0px 18px !important;
  text-align: center !important;
  font-family: Arial !important;
  color: #ff4eea !important;
  min-height: 9px;
}
/* line 360, ../sass/inherited.sass */
.pub-pane p.p100 {
  margin: 0 !important;
  font-family: Arial !important;
}
/* line 363, ../sass/inherited.sass */
.pub-pane p.p101 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #ffffff !important;
}
/* line 368, ../sass/inherited.sass */
.pub-pane p.p102 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #ffffff !important;
  min-height: 13px;
}
/* line 374, ../sass/inherited.sass */
.pub-pane p.p103 {
  margin: 0px 0px 0px 18px !important;
  font-family: Arial !important;
  min-height: 11px;
}
/* line 378, ../sass/inherited.sass */
.pub-pane p.p104 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  min-height: 11px;
}
/* line 383, ../sass/inherited.sass */
.pub-pane p.p105 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #ef3fdc !important;
}
/* line 387, ../sass/inherited.sass */
.pub-pane p.p106 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #ef3fdc !important;
  min-height: 13px;
}
/* line 395, ../sass/inherited.sass */
.pub-pane li.li23 {
  margin: 0 !important;
  font-family: Arial;
}
/* line 399, ../sass/inherited.sass */
.pub-pane li.li34 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
}
/* line 404, ../sass/inherited.sass */
.pub-pane li.li36 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
}
/* line 408, ../sass/inherited.sass */
.pub-pane li.li37 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
}
/* line 412, ../sass/inherited.sass */
.pub-pane li.li45 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
}
/* line 417, ../sass/inherited.sass */
.pub-pane li.li46 {
  margin: 0 !important;
  text-align: right !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
}
/* line 422, ../sass/inherited.sass */
.pub-pane li.li47 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
  min-height: 23px;
}
/* line 428, ../sass/inherited.sass */
.pub-pane li.li48 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
}
/* line 432, ../sass/inherited.sass */
.pub-pane li.li50 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #000000 !important;
}
/* line 437, ../sass/inherited.sass */
.pub-pane li.li53 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #ef3fdc !important;
}
/* line 442, ../sass/inherited.sass */
.pub-pane li.li62 {
  margin: 0 !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
}
/* line 446, ../sass/inherited.sass */
.pub-pane li.li66 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
  color: #f93ef6 !important;
}
/* line 451, ../sass/inherited.sass */
.pub-pane li.li73 {
  margin: 0 !important;
  font-family: Arial !important;
}
/* line 454, ../sass/inherited.sass */
.pub-pane li.li75 {
  margin: 0 !important;
  text-align: center !important;
  font-family: Arial !important;
}
/* line 458, ../sass/inherited.sass */
.pub-pane li.li94 {
  margin: 0 !important;
  font-family: Arial !important;
}
/* line 463, ../sass/inherited.sass */
.pub-pane span.s1 {
  font: 12px Helvetica;
}
/* line 465, ../sass/inherited.sass */
.pub-pane span.s2 {
  font-family: Arial !important;
}
/* line 467, ../sass/inherited.sass */
.pub-pane span.s3 {
  font-family: Arial !important;
}
/* line 469, ../sass/inherited.sass */
.pub-pane span.s4 {
  font-family: Arial !important;
}
/* line 471, ../sass/inherited.sass */
.pub-pane span.s5 {
  font-family: Arial !important;
  color: #000000 !important;
}
/* line 474, ../sass/inherited.sass */
.pub-pane span.s6 {
  font-family: Arial !important;
  color: #000000 !important;
}
/* line 477, ../sass/inherited.sass */
.pub-pane span.s7 {
  color: #000000 !important;
}
/* line 479, ../sass/inherited.sass */
.pub-pane span.s8 {
  color: #ef3fdc !important;
}
/* line 481, ../sass/inherited.sass */
.pub-pane span.s9 {
  text-decoration: underline;
}
/* line 483, ../sass/inherited.sass */
.pub-pane span.s10 {
  font-family: Arial !important;
}
/* line 485, ../sass/inherited.sass */
.pub-pane span.s11 {
  color: #ff4bfc !important;
}
/* line 487, ../sass/inherited.sass */
.pub-pane span.s12 {
  font-family: Arial !important;
}
/* line 489, ../sass/inherited.sass */
.pub-pane span.s13 {
  font-family: Arial !important;
}
/* line 491, ../sass/inherited.sass */
.pub-pane span.s14 {
  color: #ed44ed !important;
}
/* line 493, ../sass/inherited.sass */
.pub-pane span.s15 {
  font: 8px "Lucida Grande";
  color: #2f2f2f !important;
}
/* line 496, ../sass/inherited.sass */
.pub-pane span.Apple-tab-span {
  white-space: pre;
}
/* line 499, ../sass/inherited.sass */
.pub-pane table.t1 {
  border-collapse: collapse;
}
/* line 503, ../sass/inherited.sass */
.pub-pane ul.ul1 {
  list-style-type: disc;
}
/* line 505, ../sass/inherited.sass */
.pub-pane ul.ul2 {
  padding-left: 40px;
  text-indent: 2px;
  list-style: none;
  list-style-position: outside;
}
/* line 511, ../sass/inherited.sass */
.pub-pane ul.ul2 li:before {
  content: "✔";
  margin-left: -1.6em;
  margin-right: 0.6em;
  color: #ff4bfc !important;
}
/* line 516, ../sass/inherited.sass */
.pub-pane ul.ul2 li.li51 {
  margin: 0 !important;
  text-align: justify !important;
  font-family: Arial !important;
}
