@page {
  margin: 0.79in 0.79in 0.39in 0.79in;
}
@media print {
  /* line 34, ../sass/main.sass */
  html, body {
    height: 99.5%;
  }

  /* line 37, ../sass/main.sass */
  .body-directive .pub-body-wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* line 46, ../sass/main.sass */
  .body-directive div.pub-header {
    width: auto !important;
    display: none;
  }

  /* line 50, ../sass/main.sass */
  h1.pagebreak {
    page-break-after: always;
  }
}
@media print {
  /* line 50, ../sass/main.sass */
  h1.pagebreak {
    visibility: hidden;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
  }
}

@media print {
  /* line 61, ../sass/main.sass */
  html, html body, html body div.pub-pane, html body div.pub-pane div.center-panel, html body div.pub-pane div.center-panel div.pub-container, html body div.pub-pane div.center-panel div.pub-container div.body-directive, html body div.pub-pane div.center-panel div.pub-container div.body-directive div.highlight-wrapper, html body div.pub-pane div.center-panel div.pub-container div.body-directive div.highlight-wrapper div.highlight-wrapper2, html body div.pub-pane div.center-panel div.pub-container div.body-directive div.highlight-wrapper div.highlight-wrapper2 div.pub-body-wrapper, html body div.pub-pane div.center-panel div.pub-container div.body-directive div.highlight-wrapper div.highlight-wrapper2 div.pub-body-wrapper div.pub-body-html.One-Column {
    float: none !important;
    overflow: visible !important;
    border: 0 !important;
  }
}
/* line 88, ../sass/main.sass */
.pub-pane .logo {
  width: 432px;
  padding-top: 1in;
  padding-bottom: 2.1in;
}
/* line 94, ../sass/main.sass */
.pub-pane .footer-portada {
  text-align: center;
}
/* line 96, ../sass/main.sass */
.pub-pane .footer-portada .img-footer {
  display: inline;
}
/* line 98, ../sass/main.sass */
.pub-pane .footer-portada .img-1 {
  height: 0.5in;
}
/* line 100, ../sass/main.sass */
.pub-pane .footer-portada .img-2 {
  height: 0.7in;
}
/* line 102, ../sass/main.sass */
.pub-pane .footer-portada .img-3 {
  height: 0.5in;
}
/* line 105, ../sass/main.sass */
.pub-pane p.p7 {
  padding-top: 3in !important;
  padding-bottom: 2in !important;
}
/* line 109, ../sass/main.sass */
.pub-pane table.tabla-firmantes {
  width: 100%;
  margin: 30px 10px !important;
}
/* line 112, ../sass/main.sass */
.pub-pane table.tabla-firmantes td.td1 {
  padding: 20px 0 !important;
  border: none !important;
}
/* line 115, ../sass/main.sass */
.pub-pane table.tabla-firmantes td.td1 .firmantes {
  font: 10px Arial !important;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}
/* line 121, ../sass/main.sass */
.pub-pane table.tabla-firmantes td.td1 .titulos {
  font: 18px Arial !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 129, ../sass/main.sass */
.pub-pane .seccion-creditos {
  margin: 0.1in 0;
}
/* line 132, ../sass/main.sass */
.pub-pane ul.nobullet {
  list-style-type: none;
  font-family: Arial;
}
/* line 135, ../sass/main.sass */
.pub-pane ul.nobullet img.cgcid {
  margin: 0;
  width: 300px;
}
/* line 139, ../sass/main.sass */
.pub-pane table.t1 {
  width: 100%;
  margin: 0;
}
/* line 142, ../sass/main.sass */
.pub-pane table.t1 td.td1 {
  border: none !important;
  padding: 0 !important;
}
/* line 145, ../sass/main.sass */
.pub-pane table.t1 td.td-siglas {
  padding: 0 10px !important;
}
/* line 147, ../sass/main.sass */
.pub-pane p.p25 {
  padding: 0 0 2px 0;
  font: 15px Arial !important;
}
