// body, html, .pub-panel, .content-bar
//   display: block
//   width: auto !important
//   height: auto !important
//   overflow: visible !important
//   margin: auto !important
//   border: 0px !important
//   box-shadow: 0px 0px 0px transparent !important
//   border-color: transparent
// div
//   &#pub-body, &.center-panel, &.pub-container, &.body-directive
//     display: block
//     width: auto !important
//     height: auto !important
//     overflow: visible !important
//     margin: auto !important
//     border: 0px !important
//     box-shadow: 0px 0px 0px transparent !important
//     border-color: transparent
// div.center-panel
//   display: block
//   width: auto !important
//   height: auto !important
//   overflow: visible !important
//   margin: auto !important
//   border: 0px !important
//   box-shadow: 0px 0px 0px transparent !important
//   border-color: transparent

@page
  margin: 0.79in 0.79in 0.39in 0.79in

@media print
  html, body
    height: 99.5%

  .body-directive .pub-body-wrapper
    // margin: 10px 40px !important
    // padding: 40px !important
    // margin: 0.79in 0.79in 0.39in 0.79in !important
    margin: 0 !important
    padding: 0 !important

  .body-directive
    div
      &.pub-header
        width: auto !important
        display: none

  h1.pagebreak
    page-break-after: always
    @media print
      visibility: hidden
      height: 0 !important
      margin: 0 !important
      padding: 0 !important
      border: 0 !important


  // El hack del mes
  %page-break-compatible
    float: none !important
    overflow: visible !important
    border: 0 !important
  html
    @extend %page-break-compatible
    body
      @extend %page-break-compatible
      div.pub-pane
        @extend %page-break-compatible
        div.center-panel
          @extend %page-break-compatible
          div.pub-container
            @extend %page-break-compatible
            div.body-directive
              @extend %page-break-compatible
              div.highlight-wrapper
                @extend %page-break-compatible
                div.highlight-wrapper2
                  @extend %page-break-compatible
                  div.pub-body-wrapper
                    @extend %page-break-compatible
                    div.pub-body-html.One-Column
                      @extend %page-break-compatible


.pub-pane
  .logo
    // width: 3.5in
    width: 432px
    padding-top: 1in
    padding-bottom: 2.1in

  .footer-portada
    text-align: center
    .img-footer
      display: inline
    .img-1
      height: .5in
    .img-2
      height: .7in
    .img-3
      height: .5in

  p.p7
    padding-top: 3in !important
    padding-bottom: 2in !important

  table.tabla-firmantes
    width: 100%
    margin: 30px 10px !important
    td.td1
      padding: 20px 0  !important
      border: none !important
      .firmantes
        font: 10.0px Arial  !important
        padding: 0  !important
        margin: 0  !important
        font-weight: bold  !important
        text-transform: uppercase !important
      .titulos
        font: 18px Arial !important
        padding: 0 !important
        margin: 0 !important
  // .wrapper-creditos
  //   &:last-child
  //     margin-bottom: 0

  .seccion-creditos
    margin: .1in 0

  ul.nobullet
    list-style-type: none
    font-family: Arial
    img.cgcid
      margin: 0
      width: 300px

  table.t1
    width: 100%
    margin: 0
    td.td1
      border: none !important
      padding: 0 !important
    td.td-siglas
      padding: 0 10px !important
  p.p25
    padding: 0 0 2px 0
    font: 15.0px Arial !important
